<footer class="footer">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Buy healthy & natural</h4>
          <p class="lead">
            Come to us and you will find high quality products at lower prices
            than you think.
          </p>

          <div class="">
            <p><strong>Support Email : </strong> support@email.com</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Category</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a href="#">Bread</a></li>
            <li><a href="#">Dairy</a></li>
            <li><a href="#">Fruits</a></li>
            <li><a href="#">Seasonings</a></li>
            <li><a href="#">Vegetables</a></li>
          </ul>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Useful Link</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Our Shop</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
