<footer class="footer">
  <div class="container">
    <div class="row">
      <div
        class="col-md-6 col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left mr-auto"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Buy healthy & natural</h4>
          <p class="lead">
            Cumpara de la noi fara griji. Aici vei gasi produse de cea mai
            inalta calitate la cele mai mici preturi.
          </p>

          <div class="">
            <p><strong>Email suport : </strong> support@email.com</p>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Categorii</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a href="#">Lactate</a></li>
            <li><a href="#">Fructe</a></li>
            <li><a href="#">Carnuri</a></li>
            <li><a href="#">Legume</a></li>
          </ul>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-2 col-sm-6 mb-5 mb-lg-0 text-center text-sm-left"
      >
        <div class="footer-widget">
          <h4 class="mb-4">Link-uri folositoare</h4>
          <ul class="pl-0 list-unstyled mb-0">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="/shop">Our Shop</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
