<section class="page-header-product">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="product-single-h1">Vizualizare produs</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Acasa</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Vizualizare produs
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img [src]="produs?.img" />
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ produs?.nume }}</h2>
          <div class="sku_wrapper mb-4">
            ID Produs <span class="text-muted">#{{ produs?.id }} </span>
          </div>
          <hr />

          <h3 class="product-price">{{ produs?.pret }} RON</h3>

          <p class="product-description my-4">
            {{ produs?.descriere }}
          </p>
          <form class="cart" action="#" method="post">
            <div class="quantity d-flex align-items-center">
              <input
                type="number"
                class="input-text qty text form-control w-25 mr-3"
                step="1"
                min="1"
                max="9"
                name="quantity"
                value="1"
                title="Qty"
                size="4"
                #quantity
              />
              <a class="btn btn-main btn-small" (click)="addToCart(quantity)"
                >Adauga in cos</a
              >
              <a class="btn btn-main btn-small" style="margin-left: 1%;" [style]="'visibility:' + visible" (click)="stergereProdus()">Stergere produs</a>
            </div>
          </form>

          <div class="products-meta mt-4">
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title"
                >Categorie:</span
              >
              <a>{{ produs?.categorie }} </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
