<section class="page-header-login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="login-h1">Login Page</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
            <div>
              <form [formGroup]="form" (ngSubmit)="login()">
                <div>
                  <label for="username">Username</label>
                  <input type="text"
                  formControlName="username">
                </div>
                <div>
                  <label for="password">Password</label>
                  <input type="password"
                  formControlName="password">
                </div>
              </form>
              <button type="button" (click)="login()" class="btn btn-primary">
                Login with Google
              </button>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
